<!DOCTYPE html>
<html lang="en">

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body id="loginForm">
    <div class="container" style="text-align:center">
        <!-- <%- include('header'); -%> -->

        <h1 class="form-heading">
            Welcome App
            <hr />
            <%= listTitle %>
            <br /><br /><br /><br /><br /><br />
        </h1>

        <form action="/" class="form-signin" method="POST">
            <img class="mb-4" src="images/images.jpg" alt="" width="72" height="72" />
            <h1 class="h3 mb-3 font-weight-normal">SIGNUP</h1>

            <input type="text" name="fname" class="form-control top " placeholder="First Name" required autofocus />
            <input type="text" name="lname" class="form-control middle" placeholder="Last Name" required />
            <input type="email" name="email" class="form-control bottom" placeholder="Email" required />

            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Login
            </button>
        </form>

        <footer>
            <p class="botto-text">
                Designed by
                <a href="https://github.com/karslio" target="_blank"
                    style="color: #444444;text-decoration:none">karslio</a>
                | 2019
            </p>
        </footer>
    </div>
</body>

</html>
<!-- <%- include('footer'); -%> -->